/**
 * 0.RESET 
 */

@import "reset.css";
@import "http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700";

/*Start Rest*/
html, body, div, span, object, a.cta, nav ul li a, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, .webform-client-form, textarea, input.form-text {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

/**
 * 1.GLOBAL
 */

 html { font-size: 62.5%;  position: relative; min-height: 100%;} 

body {
  background: #fff;
  background: #fff url(images/body-bg.jpg) repeat-x top left;
  color: #2e3333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  margin: 0 0 280px; /* bottom = footer height */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Archivo Narrow', sans-serif;
  font-style: normal;
  font-weight: normal;
}

h1, .h1 {
  font-size: 3em;
  text-transform: uppercase;
  line-height: 1.5;
}

h1.page-title{border-top:4px solid #89171a; border-bottom:4px solid #89171a; margin-bottom:24px; font-size: 3rem;}
h1.page-title.listing{margin-bottom: 52px;}
body.front article.node-promoted h1.page-title{color:#1c2222; font-size: 6rem; font-weight: bold; margin-bottom: 27px;}
body.node-type-project h1#page-title{margin-bottom: 14px;}

h2, .h2 , .node-news h1.page-title, .node-staff h1.page-title, .node-testimonial h1.page-title{
  font-size: 2em;
  line-height: 1;
  margin-top: 0;
  color:#89171a;
  margin-bottom:5px;
  border: none;
}

body.front h2.news-title{font-size: 1.4rem; font-family: Arial; font-weight: bold; color:#232929; margin-bottom: 8px;}
body.front #main h2.block-title{margin-bottom: 17px; margin-top: -4px; padding-left: 19px;}

body.node-type-project h2{margin-bottom: 9px;}

.view-project-image-gallery.view-display-id-page_1 h2{font-size: 1.8rem; color:#1c2222;}
.node-job-posting h2{font-family: Arial; font-size: 1.5rem; font-weight: bold; color:#1c2222; padding-top: 13px; margin-bottom: 8px;}

h2 span, .h2 span{color:#231f20;}

h3, .h3 {
  font-size: 1.25em;
  line-height: 1.2;
  margin-top: 1.2em;
}

h4, h5, h6, .h4, .h5, .h6 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 1.5em;
}

p {
  line-height: 1.5;
  margin-bottom: 8px;
  font-size: 1.3rem;
}

a { color: #2e3333; text-decoration: none; outline: none; }

a:visited { color: #2e3333; }

a:hover, a:active, li a.active  { color: #2e3333; }

a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

a:active {
    outline: none;
}

/* apply common styling after reset.css */

li ul, li ol {  margin: 0; }
ul, ol {  margin: 0 1.5em 1.5em 0;  padding-left: 1.5em; }
ul {  list-style-type: disc; }
ol {  list-style-type: decimal; }
dl {  margin: 0 0 1.5em 0; }
dl dt {  font-weight: bold; }
dd {  margin-left: 1.5em; }
hr {  background: #666;  border: none;  clear: both;  float: none;  height: 1px;  margin: 0 0 1.4375em;  width: 100%; }
table {  margin-bottom: 1.5em;  width: 100%; }
th, tr, td {  vertical-align: middle; }
th { padding-right: 1em; }
.sticky-header th, .sticky-table th {  border-bottom: 3px solid #ccc;  padding-right: 1em;  text-align: left; }
strong{font-weight: bold;}
/**
 * LAYOUT
 */

.container {
  margin: 0 auto;
  padding: 0;
  width: 1000px;
}

/**
 * MAIN
 */

/* 1 column: global values*/

#main {
  display: inline;
  margin: 0;
}

#main .container{padding-bottom:39px;}

/**
 * CTA
 */
.field-name-field-cta a, a.cta{
  background: #5f1113; /* Old browsers */
  background: -moz-linear-gradient(top,  #5f1113 0%, #89171a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f1113), color-stop(100%,#89171a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #5f1113 0%,#89171a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #5f1113 0%,#89171a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #5f1113 0%,#89171a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #5f1113 0%,#89171a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f1113', endColorstr='#89171a',GradientType=0 ); /* IE6-9 */
  border:3px solid #cccccb;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
  width:100%;
  display: block;
  font-family: 'Archivo Narrow', sans-serif;
  border-radius: 10px;
  padding-top:8px;
  padding-bottom:8px;
  margin-top:18px;
}

.view-footer a.cta{width:66.8%; margin:0 auto; margin-top: 38px; margin-bottom:11px;}

/**
 * 5.HEADER
 */

#header {margin: 0; padding: 0; padding-top:25px; margin-bottom:35px;}

#header #logo {
  float: left;
  margin: 19px 0 0 0;
}

/**
 * 6.NAVIGATION
 */

 /**
 * Top Links
 */

#header .region-top-links{float:right; font-size: 1.3rem; color:#1c2222;}
#header .region-top-links section.block{float:left;}
#header .region-top-links section.block p{margin:0; font-size: 1.3rem; color:#89171a; float: left; margin-top:8px; margin-right:11px; margin-left:4px;}
#header .region-top-links section.block h2{margin:0; font-size: 3.2rem; display: inline-block;}
#header .region-top-links ul{margin:0; padding:0; margin-top:8px;}
#header .region-top-links ul li{list-style: none; display: inline-block; border-right: 1px solid #1c2222; line-height: 13px; height:13px; padding-right:12px; margin-right:8px;}
#header .region-top-links ul li a{color:#1c2222;}
#header .region-top-links ul li a:hover{color:#89171a;}

#navigation {font-family: 'Archivo Narrow', sans-serif; clear: right; float: right; margin: 0; margin-top:31px; padding: 0; border-top:4px solid #89171a; border-bottom:4px solid #89171a; font-size: 1.4rem;}
#navigation ul{margin:0; padding:0;}
#navigation ul li{list-style: none; float:left; border-right: 1px solid #231f20; padding:0; margin:0;}
#navigation ul li.first{border-left: 1px solid #231f20;}
#navigation ul li a{color:#1c2222; text-transform: uppercase; padding:0; margin:0; display: inline-block; padding:12px 22px;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  transition:all .25s ease-in-out;
}
#navigation ul li a.home{display:block;  background: url('images/nav-home.png') no-repeat center center; font-size:0; width:40px; height:45px; white-space: nowrap; overflow: hidden;
}
#navigation ul li a.active{background-color: #e7e7e7;}
#navigation ul li a:hover{color:#fff; background:#89171a;}

#skip-link {
  position: absolute;
}

/* admin tabs */

.tabs-wrapper ul.primary{
  border-bottom: 2px solid #89171a;
  margin-bottom:40px;
}

/**
 * 7.NODES
 */
article.node{padding-bottom:35px;}
.page-image{float:right; width:306px; display: block; overflow: hidden; margin-left:22px;}
article.node-news, article.node-staff{padding-bottom:25px;}
.node-news .page-image, .node-staff .page-image{float:left; width:207px; display: block; overflow: hidden; margin-right:45px; margin-left: 0;}
.views-row-even .node-staff .page-image {float: right; margin-right: 0; margin-left: 45px;}
.content.with-image{margin-right:328px;}
.node-news .content.with-image, .node-staff .content.with-image{margin-left:252px; margin-right: 0; border-bottom:4px solid #89171a; padding-bottom: 15px; min-height: 185px;}
.views-row-even .node-staff .content.with-image{margin-left:0; margin-right:252px; }


/**
 * Services
 */
.banner-image{margin-bottom:29px;}
.banner-image img{width:100%;}
.services-image{float:left; width:207px; display: block; overflow: hidden; margin-right:45px;}
.with-service-image{margin-left:252px;}

.service-copy{border-bottom:4px solid #89171a; min-height: 185px; overflow: hidden;}
.service-link{float:right; display: block; width: 222px; height: 150px; margin-left: 26px;}

.views-row-even .with-service-image{margin-right:252px; margin-left: 0;}
.views-row-even .services-image{float:right; margin-left:45px; margin-right: 0;}

.scroll-top-arrow{background: url('images/scroll-arrow.png') no-repeat center center; display: block; width:72px; height:23px; float: right; clear:both; margin-top:30px;}
.scroll-top-arrow span{display: none;}

section#featured-services .container{border-top:4px solid #89171a; padding-top:13px;}
section#featured-services .container h2.block-title{margin-bottom:16px; font-size: 2.5rem;}
.services-teaser{width:306px; display: block; float: left; margin-left:40px;}
.views-row-first .services-teaser{margin-left:0px;}
.services-teaser .thumb-image{margin-bottom:13px;}
.services-teaser .thumb-image img{width:100%; height: auto;}
.services-icon-link a{background: url('images/featured-service-link-icon.png') no-repeat center center; display: block; width:36px; height:36px; float: left;}
.services-icon-link a span{display: none;}
.service-teaser-copy{margin-left:51px; padding-top:7px; margin-bottom:42px;}
.service-teaser-copy p{line-height: 1.2em; margin-bottom: 12px;}
.service-teaser-copy h2{color:#1c2222; font-size: 2.1rem; margin-bottom:16px;}
.service-teaser-copy a.read-more{font-weight: bold; color:#1c2222;}
/**
 * Individual Project Gallery
 */
.project-content{display: block; float: left; width: 309px;}
.views-slideshow-controls-top{float: left; clear: left; width: 309px; margin-top:35px;}
.views-slideshow-pager-field-item{display: block; width: 45px; height: 45px; cursor: pointer; overflow: hidden; float: left; margin-right: 8px; margin-bottom: 8px;}
.views-slideshow-pager-field-item.views-row-last{margin-right:0;}
body.node-type-project #main .container{position: relative; min-height: 483px;}

body.node-type-project .views_slideshow_main{position: absolute; right: 0; top: 0;}

.view-project-image-gallery{}
.view-project-image-gallery.view-display-id-page_1 .views-row{width:232px; overflow: hidden; float: left; margin-right: 24px; margin-bottom: 37px;}
.view-project-image-gallery.view-display-id-page_1  .views-row-4 {margin-right: 0;}
.view-project-image-gallery.view-display-id-page_1 .views-row .project-gallery-thumb {margin-bottom:4px;}

.field-name-field-date, .field-name-field-position, .field-name-field-email{font-size: 1.6rem; font-style: italic; font-family: 'Archivo Narrow', sans-serif; font-weight: bold;}
.field-name-field-position{display: inline-block; border-left:1px solid #666969; height: 16px; margin-left:10px; padding-left: 13px; font-weight: normal;}
.node-staff h1.page-title{display: inline-block;}
.field-name-field-email{margin-bottom:2px;}


/**
 * Testimonials
 */

.node-testimonial .content{ position: relative; width: 455px; margin-right:0; padding-left: 47px; }
.node-testimonial .content:before {
  color: #88c2eb;
  content: "\201C";
  font-size: 9em;
  position:absolute;
  left:0;
  top: 24px;
  line-height: 0.1em;
  font-family: 'Archivo Narrow', sans-serif;
}

.node-testimonial .content:after {
   color: #88c2eb;
  content: "\201D";
  font-size: 9em;
  position:absolute;
  right:0;
  line-height: 0.1em;
  font-family: 'Archivo Narrow', sans-serif;
}      

.node-testimonial  .field-name-field-name {display: block; margin-top:21px;}
.node-testimonial  .field-name-field-name .field-item:before{ content:"-"; position:relative; left:-5px;}
.node-testimonial  .field-name-field-name .field-item{ text-indent:-5px; font-size: 1.6rem; font-style: italic; font-family: 'Archivo Narrow', sans-serif; font-weight: bold; text-align: right; margin-right: 48px;}

.view-everyone-s-talking-about-your-neighbors- .node-testimonial{width:455px; height:180px; float: left; margin-bottom: 48px; border-bottom: 4px solid #89171a; margin-right: 89px;}
.view-everyone-s-talking-about-your-neighbors- .views-row-even .node-testimonial{margin-right: 0px; float: right;}

/**
 * Home Page
 */

.node-homepage-featured .page-image{float: left; margin-left: 0; width:692px; position: relative;}
.node-homepage-featured .content.with-image{margin-right: 0; background: #89171a; color:#fff; float: right; width:308px; height: 241px; padding:34px 18px 0 18px; overflow: hidden;}
.node-homepage-featured .content h1, .node-homepage-featured .content h2, .node-homepage-featured .content h3{font-size: 3.4rem; color: #fff; margin-bottom: 15px;}
.node-homepage-featured .content p{font-size: 1.4rem; line-height: 1.2em; margin-bottom: 15px;}

.node-homepage-featured .content.with-image .field-name-field-cta a {
    background: none;
    border: none;
    border-radius: 0px;
    color: #fff;
    display: block;
    font-family: "Archivo Narrow",sans-serif;
    font-size: 2.4rem;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-transform: none;
    width: auto;
}

.featured-home-gradient{background: url('images/featured-home-gradient.png') repeat-y top left; display: block; width:150px; height:241px; display: block; position: absolute;}

#featured-home{background:#8eb2cc; height: 241px; overflow: hidden; margin-bottom: 38px;}

body.front #main article.node-promoted{float:left; width: 692px; padding-right: 22px; padding-bottom: 26px;}
body.front #main .page-image {float: left; margin-left: 0px; width: 205px; margin-right: 25px; margin-bottom: 25px;}
body.front #main .content.with-image {margin-right: 0;}
body.front #main article.node-promoted .field-name-body{padding-right: 10px;}

body.front #main .block-views{float:left; width: 308px; border-left: 1px solid #b8b9b9; }
body.front #main .block-views .views-row{padding-left:19px; margin-bottom: 12px;}
body.front #main .block-views .views-row-first{border-bottom: 1px solid #b8b9b9;}
body.front #main .block-views p{margin-bottom: 4px;}
body.front #main .block-views article.node-news{padding-bottom: 10px;}
body.front #main .block-views .view-footer a{font-weight: bold; margin-left: 19px; margin-bottom: 10px; display: block;}

body.front  #main .container {
    padding-bottom: 0px;
}
ul.inline li.node-readmore{padding:0;}
ul.inline li.node-readmore a{font-weight: bold;}
ul.inline li.node-readmore a:after {
  content: " >>";
}      
ul.inline li.node-readmore a:hover{color:#89171a;}


/**
 * Careers
 */

article.node-job-posting{padding-bottom:10px;}
.node-job-posting a.apply-now{float: right; background: #89171a; font-weight: bold; font-size: 1.2rem; text-transform: uppercase; color:#fff; text-align: center; width:133px; display: block; border:1px solid #babcbb; padding:5px 0 4px 0; margin-right: 5px;}
.node-job-posting .field-name-body{clear:both;}


.view-job-postings .view-content{float:left; clear: both; width: 700px; border-right: 1px solid #444041; padding-right:28px; padding-bottom: 20px; margin-right: 34px;}
.view-header h2{text-transform: uppercase; margin-bottom: 7px;}
.view-job-postings .view-footer{float:left; width:260px;}
body.page-careers h1.listing{margin-bottom: 15px;}

/**
 * Contact
 */
body.node-type-webform .field-name-field-body{width:557px; float:left; border-right:1px solid #444041; padding-right:90px; margin-top:26px; padding-top:2px;}
body.node-type-webform .webform-client-form{width:437px;  float:right; border-right:1px solid #444041; padding-left:53px; padding-right:57px; margin-top:26px; font-size:1.4rem; font-family: Arial, Helvetica, sans-serif;}

body.page-node-22 .webform-client-form{width:100%; border:none; padding:0;}

body.node-type-webform .webform-client-form input.form-text, body.node-type-webform .webform-client-form textarea{max-width:100%; background:#e3e3e3; border:1px solid #cfcfcf; padding:6px 12px;}
body.node-type-webform .form-item{margin-top:0;  margin-bottom:29px;}
body.node-type-webform .webform-component--form-header{margin-bottom:23px;}
body.node-type-webform .webform-component--form-header p{text-transform:uppercase; border-bottom:1px solid #444041; font-size:2.2rem; color:#1c2222; font-weight:bold; padding-bottom:7px; }
input.webform-submit{background:#89171a; color:#fff; border:1px solid #babcbb; text-transform:uppercase; font-size:1.6rem; font-weight:bold; text-align:center; padding:5px; width:178px; float:right; cursor:pointer;}
::-webkit-input-placeholder {
   font-family: Arial, Helvetica, sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
  font-family: Arial, Helvetica, sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-family: Arial, Helvetica, sans-serif;
}

:-ms-input-placeholder {  
  font-family: Arial, Helvetica, sans-serif;
}

/**
 * Apply
 */
body.page-node-22 h1.page-title{margin-bottom:16px;}
body.page-node-22 form h2{font-size:2.2rem; font-family: Calibri, sans-serif; font-weight:bold; text-transform:uppercase; border-bottom:1px solid #444041; margin-bottom:16px; }
body.page-node-22 .webform-client-form{margin-top:0;}
body.page-node-22 form  fieldset.webform-component--top-group{width:681px; float:left; border-right:1px solid #444041;}
/**
 * Pager
 */
.item-list ul.pager{font-size: 1.6rem;}
.item-list ul.pager li{font-size: 1.6rem; margin-bottom: 0px; margin-left:3px; padding:0px;}
.item-list ul.pager li.first{margin-left:0px;}
.item-list ul.pager li.pager-current{color:#fff; background-color: #89171a; border:1px solid #cbcbcb; border-radius: 4px; padding:5px 10px;}
.item-list ul.pager li a{color:#444848; background-color: #ececec; border:1px solid #cbcbcb; border-radius: 4px; padding:5px 10px;}
/**
 * 9.BLOCKS
 */

.block {
  margin-bottom: 0;
}

/**
 * 10.FOOTER
 */

#footer {
  clear: both;
  background:#1c2222;
  color:#818181;
  padding-bottom: 42px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 280px;
  width: 100%;
}

.region-footer-left{float:left; margin-top:30px; width:350px; display: block; border-right:1px solid #444848; text-transform: uppercase;}
.region-footer-left p{font-size: 1.6rem; margin-bottom:4px;  font-family: "Archivo Narrow",sans-serif;}
.region-footer-left p img{margin-top:19px; margin-bottom:29px;}
.region-footer-left h3{margin:0; font-size: 4rem;}

.region-footer-right{float:right;}
.region-footer-right ul.menu{margin:0; padding:0; float:right; margin-bottom: 30px;}
.region-footer-right ul.menu li{list-style: none; float:left; margin:0; padding:0px; border-left:1px solid #640f12;}
.region-footer-right ul.menu li.first{border-left:none;}
.region-footer-right ul.menu li a{color:#fff; font-size: 1.4rem; display: inline-block; background:#89171a; padding-left:20px; padding-right:20px; padding-top:11px; padding-bottom:7px;}
.region-footer-right #block-block-3{width:575px; clear: right; margin-bottom:46px;}
.region-footer-right #block-block-3 h2.block-title{font-size: 2.2rem; color:#b5b7b7; text-transform: uppercase; margin-bottom:12px;}
.region-footer-right #block-block-3 .content{background:#444848; border:1px solid #5b605f; width:100%; padding:20px;}
.region-footer-right #block-block-3 .content:after {
    clear: both;
    content: "";
    display: table;
}
.region-footer-right #block-block-3 .content .input-wrap input { border: 1px solid #babcbb; color:#000; font-size: 1.4rem; float: left; padding: 7px 10px 6px; width: 337px;}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
    font-size: 1.4rem;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
   font-size: 1.4rem;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
   font-size: 1.4rem;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #000;
   font-size: 1.4rem;
}

.region-footer-right #block-block-3 .content input.submit {
    background: url("images/form-arrow.png") no-repeat scroll right 35px center, linear-gradient(to bottom, #fff 0px, #dddadb 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #babcbb;
    color: #030708;
    cursor: pointer;
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 3px;
    padding-top: 3px;
    text-transform: uppercase;
    width: 146px;
}

.region-footer-right #block-block-4 {text-align: right;}
.region-footer-right #block-block-4 p {font-size: 1.2rem; color:#7f8081;}

/**
 * 11.CSS SUPPORT
 *
 * Built-in classes:
 * .clearfix                            | contain floats
 * .element-invisible                   | hide element visually
 * .element-invisible.element-focusable | allow element to be focusable when navigated to via keyboard
 * .element-hidden                      | hide visually and from screenreaders
 */
 
/* clear floats */
.clear { clear: both; }

/* display block */
.display-block { display: block; }